@import url(https://fonts.googleapis.com/css?family=Verdana);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px 'Verdana',sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran',sans-serif;
}
p, div {
    font-family: 'Catamaran',sans-serif;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar {
  height: 50px;
  width: 100%;
  color: #000;
  background-color: #A0D2FF;
  border-radius: 0;
  border: none;
  overflow: hidden;
}

.navbar-brand {
  color: #000 !important;
  font-weight: bold;
  padding: none;
  float: left;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  overflow: hidden;
}

li a {
  display: block; 
  color: #333;
  text-align: center;
  padding: 16.5px 12px;
  text-decoration: none;
  overflow: hidden;

}

li a:hover {
  background-color: #888;
  color: #ffffff;
  text-decoration: none;
}

/*Off canvas stuff!*/


#content {
  text-align: center;
}

#content h1 {
  font-weight: bold;
}


#submitbutton {
  text-align:center;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.inactive_link {
   pointer-events: none;
   cursor: default;
}

/* Scrollbar */

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #bababa;
}






/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
#categorySelect {
  text-align: center;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 40px;
   overflow: hidden;
   width: 310px;
   display: block;
   margin: 0 auto;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 40px;
   padding: 10px;
   width: 325px;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #8db2d3; }

.blue select    { color: #fff; }

#amount {
  width: auto;
  text-align: center;
  margin-top: 15px;
}

input[type=text] {
    padding: 14px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
  text-align: center;
  margin-top: 20px;
}

#submitbutton {
  background-color: #8db2d3;
  text-align: center;
  width: auto;
  border: none;
}

#submitbutton:hover {
    background-color: #888;
}

#submitbutton:active {
    background-color: #333;
}
