@import url(https://fonts.googleapis.com/css?family=Verdana);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px 'Verdana',sans-serif;
}

p {
  color: #ef311c;
}
.welcome-text {
  font-size: 4vw;
  padding: 4vw;
  text-align: center;
}

.number {
    font-size: 12vw;
    font-weight:bold;
}

.animated {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;

    /*background: #C9C9C9;*/
}

.navbar {
  height: 50px;
  width: 100%;
  color: #000;
  background-color: #A0D2FF;
  border-radius: 0;
  border: none;
  overflow: hidden;
}

.navbar-brand {
  color: #000 !important;
  font-weight: bold;
  padding: none;
  float: left;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  overflow: hidden;
}

li a {
  display: block; 
  color: #333;
  text-align: center;
  padding: 16.5px 12px;
  text-decoration: none;
  overflow: hidden;

}

li a:hover {
  background-color: #888;
  color: #ffffff;
  text-decoration: none;
}


.navbar-fixed-top {
  border: 0;
  background-color: #2d373f;  
  color: #edf2f7;
}

