@import url(https://fonts.googleapis.com/css?family=Verdana);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px 'Verdana',sans-serif;
}

p {
  color: #ef311c;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.welcome-text {
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.number {
    font-size: 100px;
}

.animated {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;

    /*background: #C9C9C9;*/
}

.navbar {
  /*border: 0;
  background-color: #2d373f;  
  color: #edf2f7;*/

  height: 50px;
  width: 100%;
  /*margin-bottom: 0;*/
  border-radius: 0;
  color: #000;
  background-color: #A0D2FF;
}

.navbar-brand {
  color: #000 !important;
  font-weight: bold;
}

.btn, .btn-action {
    background-color: #2d373f;
    color: #edf2f7;
}

.btn:hover {
  color: #edf2f7;
  background-color: #4f6170;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}